$first_row: 20px;
$second_row: 250px;
$first_column: 20px;
$card_width: 120px;
$card_height: 200px;
$column_offset: $card_width + 20px;

body {
  height: 100%;
}

.solitaire_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card, .card > div, .base, .base_image, .dropzone {
  width: $card_width;
  height: $card_height;
  position: absolute;
}

.base, .dropzone {
  position: absolute;
}

.dropzone {
  z-index: -1;
//    background-color: #f00;
//    opacity: 0.2;
}

.base.foundation, .base.tableau {
  .base_image {
    background-color: #000;
    opacity: 0.1;
  }
}

#redeal_image, #exhausted_image {
  background-color: #eee;
}

// Cards

.card {
  .face {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid black;
  }
  .back {
    background-color: #88c;
    border-radius: 5px;
    border: 1px solid black;
  }
}
